<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listing", root_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", bookings_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Your Trips", root_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Брони
      </div>
      <div class="panel-body">
        <% @bookings.each do |booking| %>
          <div class="row">
            <div class="col-md-2">
              Начало: <%= booking.start_date %>
              Конец: <%= booking.end_date %>
            </div>
            <div class="col-md-2">
              <%= image_tag booking.cover_avatar(:medium) %>
            </div>
            <div class="col-md-2">
              <%= image_tag booking.cover_prava(:medium) %>
            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-3 text-right">

            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
