<%= form_for @booking, class:"row" do |f| %>
  <div class="col-sm-8">
    <div class="row">
      <div class="form-group col-sm-12">
        <h5 class="this-label">Выбранный автомобиль </h5>
        <% if @car %>
          <%= f.text_field :car, value: @car.car_name, class: "form-control", disabled: true %>
        <% else %>
          <%= select_tag 'Автомобили', options_for_select(@cars.collect{ |u| [u.car_name, u.id] }), prompt: "Выберите автомобиль" %>
        <% end %>
      </div>
      <div class="form-group col-sm-6">
        <h5 class="this-label">Имя <span>*</span></h5>
        <%= f.text_field :firstname, placeholder: "Введите имя", class: "form-control", required: true %>
      </div>
      <div class="form-group col-sm-6">
        <h5 class="this-label">Фамилия <span>*</span></h5>
        <%= f.text_field :lastname, placeholder: "Введите фамилию", class: "form-control", required: true %>
      </div>
      <div class="form-group col-sm-6">
        <h5 class="this-label">Email </h5>
        <%= f.text_field :email, placeholder: "Введите Email", class: "form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <h5 class="this-label">Телефон <span>*</span></h5>
        <%= f.text_field :phone, placeholder: "Введите Телефон", class: "form-control", required: true %>
      </div>
      <div class="form-group col-sm-6">
        <h5 class="this-label">Дата начала</h5>
        <%= f.text_field :start_date, placeholder: "Дата начала", id:"reservation_start_date", class: "datepicker form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <h5 class="this-label">Дата окончания</h5>
        <%= f.text_field :end_date, placeholder: "Дата окончания", id:"reservation_end_date", class: "datepicker form-control" %>
      </div>
      <div class="form-group col-sm-12">
        <h5 class="this-label">Дополнительные опции</h5>
          <span style="display: inline;"><%= f.check_box :baby_chair %> Детское кресло <%= f.check_box :navigator %> Навигатор</span>
      </div>

      <div class="form-group col-sm-6">
        <h5 class="this-label">Место получения автомобиля</h5>
        <%= select_tag(:location_start, options_for_select([['Офис', 'Офис'], ['Аэропорт', 'Аэропорт'], ['Другой адрес', 'Другой адрес']])) %>
      </div>
      <div class="form-group col-sm-6">
        <h5 class="this-label">Место возврата автомобиля</h5>
        <%= select_tag(:location_end, options_for_select([['Офис', 'Офис'], ['Аэропорт', 'Аэропорт'], ['Другой адрес', 'Другой адрес']])) %>
      </div>
      <div class="form-group col-sm-12">
        <%= f.check_box :accept %> Принимаю положения закона о персональных данных
      </div>
      <div class="form-group col-sm-12">
        <h5 class="this-label">Чтобы оформление документов было быстрее, загрузите сканы документов</h5>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="your-order row m0">
      <h4 class="this-heading">Стоимость</h4>
      <div class="row order-data">
        <div class="media name-of-car">
          <div class="media-left media-middle"><span>Name of car</span></div>
          <div class="media-body">Mercedes Benz Sprinter (Black 2016)</div>
        </div>
        <div class="media image-of-car">
          <div class="media-left media-bottom"><span>Image</span></div>
          <div class="media-body"><img src="images/car-detail/2.png" alt=""></div>
        </div>
        <ul class="nav other-infos-car">
          <li>Price (per day) <span>$195.00</span></li>
          <li>Tax (10%) <span>(free) $0.00</span></li>
          <li>total cost <span>$195.00</span></li>
        </ul>
      </div>
      <button class="btn btn-primary btn-block">BOOK BY EMAIL!</button>
    </div>
    <h6 class="contact-back text-center">(We will contact you back!)</h6>
    <h4 class="straight-pay text-center">STRAIGHT PAY</h4>
    <div class="row m0 choose-payment-method">
      <input type="radio" name="payment-method" id="payment-method01" class="sr-only" checked>
      <label for="payment-method01">Stripe Payment <a href="#"><img src="images/car-detail/stripe.jpg" alt=""></a></label>
      <article class="stripe">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</article>
      <input type="radio" name="payment-method" id="payment-method02" class="sr-only">
      <label for="payment-method02">Paypal <a href="#"><img src="images/car-detail/paypal.png" alt=""></a></label>
    </div>
    <input type="submit" value="PAY NOW!" class="btn btn-primary btn-block">
  </div>
</form>
<% end %>
