<section class="row wrapper-car-details">
  <div class="container">
    <div class="row car-dt">
      <div class="col-sm-12 col-md-8 col-xs-12 car-images fleet">
      </div>
    </div>
    <%= form_for @booking, class:"row", url: bookings_path, html: {multipart: true}  do |f| %>
      <div class="col-sm-8">
        <div class="row">
          <div class="form-group col-sm-12">
            <h5 class="this-label">Выбранный автомобиль </h5>
            <% if @car %>
              <%= f.text_field :car, placeholder: "#{@car.car_name}" , class: "form-control", disabled: true %>
              <%= f.hidden_field :car, value: @car.car_name %>
            <% else %>
              <%= f.select :car, options_for_select(@cars.sort_by { |obj| obj.id }.collect{ |u| [u.car_name, u.id] }, selected: @booking.car), prompt: "Выберите автомобиль" %>
            <% end %>
          </div>
          <div class="form-group col-sm-6">
            <h5 class="this-label">Имя <span>*</span></h5>
            <%= f.text_field :firstname, placeholder: "Введите имя", class: "form-control", required: true %>
          </div>
          <div class="form-group col-sm-6">
            <h5 class="this-label">Фамилия <span>*</span></h5>
            <%= f.text_field :lastname, placeholder: "Введите фамилию", class: "form-control", required: true %>
          </div>
          <div class="form-group col-sm-6">
            <h5 class="this-label">Email </h5>
            <%= f.text_field :email, placeholder: "Введите Email", class: "form-control", required: true %>
          </div>
          <div class="form-group col-sm-6">
            <h5 class="this-label">Телефон <span>*</span></h5>
            <%= f.text_field :phone, placeholder: "Введите Телефон", class: "form-control", required: true %>
          </div>
          <div class="form-group col-sm-6">
            <h5 class="this-label">Дата начала</h5>
            <%= f.text_field :start_date, placeholder: "Дата начала", id:"reservation_start_date", class: "datepicker form-control" %>
          </div>
          <div class="form-group col-sm-6">
            <h5 class="this-label">Дата окончания</h5>
            <%= f.text_field :end_date, placeholder: "Дата окончания", id:"reservation_end_date", class: "datepicker form-control", disabled: "true" %>
          </div>
          <div class="form-group col-sm-6">
            <h5 class="this-label">Место получения автомобиля</h5>
            <%= f.select(:location_start, options_for_select([['Офис (бесплатно)', 'Офис'], ['Аэропорт - 400 руб', 'Аэропорт'], ['Светлогорск - 1000 руб', 'Светлогорск'], ['Зеленоградск - 800 руб', 'Зеленоградск'], ['Другой адрес в Калининграде  - 300 руб', 'Другой адрес в Калининграде']]), {prompt: "Выберите место"}, {required: true}) %>
          </div>
          <div class="form-group col-sm-6">
            <h5 class="this-label">Место возврата автомобиля</h5>
            <%= f.select(:location_end, options_for_select([['Офис (бесплатно)', 'Офис'], ['Аэропорт - 400 руб', 'Аэропорт'], ['Светлогорск - 1000 руб', 'Светлогорск'], ['Зеленоградск - 800 руб', 'Зеленоградск'], ['Другой адрес в Калининграде - 300 руб', 'Другой адрес в Калининграде']]), {prompt: "Выберите место"}, {required: true}) %>
          </div>
          <div class="form-group col-sm-12">
            <h5 class="this-label">Дополнительные опции</h5>
            <span style="display: inline;"><%= f.check_box :baby_chair %> Детское кресло <%= f.check_box :navigator %> Навигатор</span>
          </div>
          <div class="form-group col-sm-12">
            <h5 class="this-label">Подтвердите согласие</h5>
            <%= f.check_box :accept, {required: true} %> Даю согласие на обработку персональных данных, согласно <a href="http://base.garant.ru/12148567/" rel="nofollow">152-ФЗ</a>
          </div>
          <div class="form-group col-sm-12">
            <details>
              <summary class="summary-booking"><span style="font-size: 120%;font-weight: bold; color:#f77d0a;">Чтобы оформление документов было быстрее, загрузите сканы документов</span></summary>
              <span class="btn btn-default btn-file">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i> Загрузите паспорт
                <%= f.file_field :avatar %>
              </span>
              <span class="btn btn-default btn-file">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i> Загрузите права
                <%= f.file_field :prava %>
              </span>
            </details>
          </div>
        </div>
        <%= @bookings_bottom_text.html_safe  %>
      </div>
      <div class="col-sm-4">
        <div class="your-order row m0">
          <h4 class="this-heading">Стоимость</h4>
          <div class="row order-data">
            <div class="media name-of-car">
              <div class="media-left media-middle"><span>Название</span></div>
              <div class="media-body" id="car_name">
                <% if @car %>
                  <%= @car.car_name %>
                <% end %>
              </div>
            </div>
            <ul class="nav other-infos-car">
              <li>Цена (за сутки) <span id="car_price"></span></li>
              <li>Всего суток<span id="car_days"></span></li>
              <li id="extra_options">Дополнительные опции <span id="extra_price"></span></li>
              <li style="color: red;">Итого <span id="total_price"></span></li>
              <li>Залог <span id="deposit_price">
                <% if @car %>
                  <%= @car.deposit %> руб
                <% end %>
              </span></li>
            </ul>
          </div>
          <%= f.submit "ОТПРАВИТЬ ЗАЯВКУ", class: "btn btn-primary btn-block", id: "btn_book", disabled: true %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<%= render 'shared/footer' %>
<% if @car %>
  <script>
  document.addEventListener("turbolinks:load", function() {
    var total = 0, extra_price = 0, baby_chair = 0, nav = 0, delivery_price = 0, delivery_price_start = 0, delivery_price_end = 0, total_price = 0;
    $('#reservation_start_date').datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '6m',
      onSelect: function(selected) {
        $('#reservation_end_date').datepicker("option", "minDate", selected);
        $('#reservation_end_date').attr("disabled", false);

      }
    });

    $('#reservation_end_date').datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '6m',
      onSelect: function(selected) {
        $('#reservation_start_date').datepicker("option", "maxDate", selected);
        $('#btn_book').attr("disabled", false);

        var start_date = $('#reservation_start_date').datepicker('getDate');
        var end_date = $('#reservation_end_date').datepicker('getDate');
        var nights = (end_date - start_date)/1000/60/60/24;
          var price;

          if (nights > 3 && nights <= 7) {
            price  = <%= @car.price_2 %>;
          } else if (nights > 7 && nights <= 14) {
            price  = <%= @car.price_3 %>;
          } else if (nights > 14) {
            price  = <%= @car.price_4 %>;
          } else {
            price  = <%= @car.price_1 %>;
          }

          total = nights * price;
          $('#car_price').text(price + " руб");
          $('#car_days').text(nights);
          // Итого
          total_price = total + extra_price + delivery_price;
          $('#total_price').text(total_price + " руб");
      }
    });
    // Доставка
    $("#booking_location_start").click( function() {
      delivery_start = $("#booking_location_start").val();
      switch (delivery_start) {
        case "Аэропорт":
          delivery_price_start = 400;
          break;
        case "Светлогорск":
          delivery_price_start = 1000;
          break;
        case "Зеленоградск":
          delivery_price_start = 800;
          break;
        case "Другой адрес в Калининграде":
          delivery_price_start = 300;
          break;
        default:
          delivery_price_start = 0;
      }
      delivery_price = delivery_price_end + delivery_price_start

      if (delivery_price > 0) {
        $("#start_delivery").remove();
        $("#extra_options").append(`<li id="start_delivery">Доставка <span id="delivery_price">${delivery_price} руб</span></li>`)
      } else {
        $("#start_delivery").remove();
      }
      // Итого
      total_price = total + extra_price + delivery_price;
      $('#total_price').text(total_price + " руб");
    });
    $("#booking_location_end").click( function() {
      delivery_end = $("#booking_location_end").val();
      switch (delivery_end) {
        case "Аэропорт":
          delivery_price_end = 400;
          break;
        case "Светлогорск":
          delivery_price_end = 1000;
          break;
        case "Зеленоградск":
          delivery_price_end = 800;
          break;
        case "Другой адрес в Калининграде":
          delivery_price_end = 300;
          break;
        default:
          delivery_price_end = 0;
      }
      delivery_price = delivery_price_end + delivery_price_start

      if (delivery_price > 0) {
        $("#start_delivery").remove();
        $("#extra_options").append(`<li id="start_delivery">Доставка <span id="delivery_price">${delivery_price} руб</span></li>`)
      }
      // Итого
      total_price = total + extra_price + delivery_price;
      $('#total_price').text(total_price + " руб");
    });
    // Считаю доп услуги
    $("#booking_baby_chair").on("change", function() {
      if(this.checked) {
        baby_chair = 500;
        extra_price += baby_chair;
        $('#extra_price').text(extra_price + " руб");
      } else {
          extra_price -= baby_chair;
        $('#extra_price').text(extra_price + " руб");
      }
      // Итого
      total_price = total + extra_price + delivery_price;
      $('#total_price').text(total_price + " руб");
    });
    $("#booking_navigator").on("change", function() {
      if(this.checked) {
        nav = 500;
        extra_price += nav;
        $('#extra_price').text(extra_price + " руб");
      } else {
          extra_price -= nav;
        $('#extra_price').text(extra_price + " руб");
      }
      // Итого
      total_price = total + extra_price + delivery_price;
      $('#total_price').text(total_price + " руб");
    });
  });
  </script>
<% end %>
