<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ура! Пришла новая заявка на бронирование!</h1>
    <p>Имя: <%= @booking.firstname %> <%= @booking.middlename %> <%= @booking.lastname %></p>
    <p>Телефон: <%= @booking.phone %></p>
    <p>Email: <%= @booking.email %></p>
    <% if @booking.car.length < 3 %>
      <p>Автомобиль: <%= Car.where("id = '#{@booking.car}'").first.car_name %></p>
    <% else %>
      <p>Автомобиль: <%= @booking.car %></p>
    <% end %>

    <p>Начало аренды: <%= @booking.start_date.strftime("%d-%m-%Y") %></p>
    <p>Конец аренды: <%= @booking.end_date.strftime("%d-%m-%Y") %></p>
    <p>Где брать: <%= @booking.location_start %></p>
    <p>Где отдавать: <%= @booking.location_end %></p>
    <p>Доп оборудование:
      <% if @booking.baby_chair %>
        Детское кресло
      <% end %>
      <% if @booking.navigator %>
        Навигатор
      <% end %>
    </p>
  </body>
</html>
