<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ура! Пришла новая заявка на бронирование!</h1>
    <p>Имя: <%= @booking.firstname %> <%= @booking.lastname %></p>
    <p>Телефон: <%= @booking.phone %></p>
    <p>Email: <%= @booking.email %></p>
    <p>Автомобиль: <%= @booking.car %></p>
    <p>Начало аренды: <%= @booking.start_date %></p>
    <p>Конец аренды: <%= @booking.end_date %></p>
    <p>Суток: <%= @booking.days %></p>
    <p>Цена: <%= @booking.price %> руб</p>
    <p>Где брать: <%= @booking.location_start %></p>
    <p>Где отдавать: <%= @booking.location_end %></p>
    <p>Доп оборудование:
      <% if @booking.baby_chair %>
        Детское кресло
      <% end %>
      <% if @booking.navigator %>
        Навигатор
      <% end %>
    </p>
    <p>Итого без залога: <%= @booking.total %>руб</p>
    <%= link_to "Download", @booking.picture.url %>
  </body>
</html>
