	<!--Home 1 Slide Banner-->
	<section class="slide-banner row">
   		<img src="images/slide2.jpg" alt="" class="this-bg hidden-xs">

   		<div class="this-texts container">
   			<h2 class="this-cursive">Прокат автомобилей <span>от профессионалов</span></h2>
			<h2 class="this-h1"><img src="images/shine.png" alt=""> excellent car hiring</h2>
  			<h2 class="this-foot">52-16-15</h2>
  			<a href="#" class="btn btn-primary">Все автомобили</a>
   		</div>

	</section>
	<!--Find Quick-->
	<section class="row find-quick">
		<div class="container">
			<%= form_for @quick_booking, html: {class:"row m0 find-quick-form text-center"} do |f| %>
				<h2 class="this-title">Быстрая заявка</h2>
				<p class="this-p">Если вам срочно нужен автомобиль заполните эту форму!</p>

				<ul class="nav nav-pills cartypes">
					<li><%= f.check_box :is_sedan %> <label>Седан</label></li>
					<li><%= f.check_box :is_hatch %> <label>Хэтчбэк</label></li>
					<li><%= f.check_box :is_cross %> <label>Кроссовер</label></li>
					<li><%= f.check_box :is_minivan %> <label>Минивен</label></li>
					<li><%= f.check_box :is_universal %> <label>Универсал</label></li>
				</ul>

				<div class="row m0 fr-it">
					<div class="location-group">
						<div class="input-group">
							<%= f.text_field :name, placeholder: "Имя", class: "form-control" %>
							<span class="input-group-addon"><i class="ion-person"></i></span>
						</div>
					</div>
					<div class="input-group date-group">
						<%= f.text_field :start_date, placeholder: "Дата начала", id:"reservation_start_date", class: "datepicker form-control" %>
						<span class="input-group-addon"><i class="ion-calendar"></i></span>
					</div>

					<div class="input-group date-group">
						<%= f.text_field :end_date, placeholder: "Дата окончания", id:"reservation_end_date", class: "datepicker form-control" %>
						<span class="input-group-addon"><i class="ion-calendar"></i></span>
					</div>
					<div class="input-group">
						<%= f.text_field :contacts, placeholder: "Телефон", class: "form-control" %>
						<span class="input-group-addon"><i class="ion-speakerphone"></i></span>
					</div>

				</div>
				<br/>
				<div class="row m0">
					<%= f.submit "Отправить заявку", class: "btn btn-primary" %>
				</div>

			<% end %>
		</div>
	</section>
 	<!--Features-->
 	<section class="row features">
 		<div class="container">
 			<div class="col-md-4 feature">
 				<div class="media">
 					<div class="media-left"><span><img src="images/icons/features/1.png" alt=""></span></div>
 					<div class="media-body">
 						<h4 class="this-title">СТРАХОВКА КАСКО</h4>
					<p>Все авто застрахованы, минимальная ответственность клиента даже при происшествиях по его вине.</p>
 					</div>
 				</div>
 				<div class="media">
 					<div class="media-left"><span><img src="images/icons/features/2.png" alt=""></span></div>
 					<div class="media-body">
 						<h4 class="this-title">ГАРАНТИЯ ЛУЧШЕ ЦЕНЫ</h4>
					<p>Если найдете цену дешевле, с аналогичными условиями аренды — мы снизим цену для Вас!</p>
 					</div>
 				</div>
 			</div>
 			<div class="col-md-4 feature">
 				<div class="media">
 					<div class="media-left"><span><img src="images/icons/features/3.png" alt=""></span></div>
 					<div class="media-body">
 						<h4 class="this-title">НЕОГРАНИЧЕННЫЙ ПРОБЕГ</h4>
					<p>Ограничение суточного пробега и штраф за несоблюдение не предусмотрен.</p>
 					</div>
 				</div>
 				<div class="media">
 					<div class="media-left"><span><img src="images/icons/features/4.png" alt=""></span></div>
 					<div class="media-body">
 						<h4 class="this-title">ПОДДЕРЖКА 24/7</h4>
					<p>Круглосуточная поддержка клиента по всем вопросам, связанным с арендой автомобиля.</p>
 					</div>
 				</div>
 			</div>
 			<div class="col-md-4 feature">
 				<div class="media">
 					<div class="media-left"><span><img src="images/icons/features/5.png" alt=""></span></div>
 					<div class="media-body">
 						<h4 class="this-title">НЕМЕДЛЕННЫЙ ВОЗВРАТ ЗАЛОГА</h4>
					<p>Возвращаем залоговую на месте возврата сразу же после осмотра автомобиля.</p>
 					</div>
 				</div>
 				<div class="media">
 					<div class="media-left"><span><img src="images/icons/features/6.png" alt=""></span></div>
 					<div class="media-body">
 						<h4 class="this-title">ДРУЖЕСТВЕННОЕ ОТНОШЕНИЕ</h4>
					<p>Мы ценим своих клиентов и не придираемся к мелким недостаткам при приеме автомобиля.</p>
 					</div>
 				</div>
 			</div>
 		</div>
 	</section>
 	<!--Fleet-->
 	<section class="row" style="background-color: #2b2e4a;">
 		<div class="container" style="background-color: #2b2e4a; margin-top: 40px;">
 			<div class="row section-title text-center white">
 				<h6 class="this-top">БОЛЬШОЙ ВЫБОР</h6>
 				<h2 class="h1 this-main">Найдём авто для каждого!</h2>
 			</div>
			<div class="row">
				<%= render 'cars/single_car_main' %>
			</div>
 		</div>
 	</section>

<%= render 'reviews/reviews_on_main' %>
<section class="row service-detail-tabs">
		<div class="container">
		<div class="row section-title text-center white">
			<h6 class="this-top">The VALUE OF BRAND</h6>
			<h2 class="h1 this-main">What we offer?</h2>
			<p>We seek to get involved early in the design phase so that we can manage the project more efficiently, provide effective building solutions, and identify challenges early on to mitigate design changes after construction commencement.consectetur adipisicing elit.</p>
		</div>
		</div>
		<div class="row m0 sdtab-contents">
			<div class="container">
				<div class="row">
					<div class="row m0 text-center this-top-img">
						<div class="col-md-12 hidden-xs">
							<img src="/images/services/tree-car.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row missin-benefits">
  		<div class="container">
  			<div class="row mis-be ipad-width">
  				<div class="col-md-6 col-sm-12 col-xs-12 mission-it">
  					<h3 class="this-title">Our Mission/Strategy</h3>
  					<p class="this-para"><strong>Supershine WP is a global consulting power hiring car.</strong> We began our operations a few decades ago and have grown due to excellent relationships with our clients. We started out small, with just a few people and a small office, but today we have offices in multiple countries with hundreds of people working inside them.</p>

  					<ul class="nav mission-nav">
  						<li>Work fewer hours — and make more money</li>
  						<li>Attract and retain quality, high-paying customers</li>
  						<li>Manage your time so you’ll get more done in less time</li>
  						<li>Hone sharp leadership skills to manage your team</li>
  						<li>Cut expenses without sacrificing quality</li>
  						<li>Automate your business, so you can leave for days, weeks, or even months at a time</li>
  					</ul>
  				</div>
  				<div class="col-md-6 col-sm-12 col-xs-12 benefit-it">
  					<h3 class="this-title pl">Our Benefits</h3>

					<div class="panel-group benefit-accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading1">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent=".benefit-accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
										Work fewer hours — and make more money
									</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
								<div class="panel-body">
									We achieved our success because of how successfully we integrate with our clients. One complaint many people have about consultants is that they can be disruptive. Employees fear outside consultants coming in and destroying the workflow.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading2">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent=".benefit-accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
										Attract and retain quality, high-paying customers
									</a>
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
								<div class="panel-body">
									We achieved our success because of how successfully we integrate with our clients. One complaint many people have about consultants is that they can be disruptive. Employees fear outside consultants coming in and destroying the workflow.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading3">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent=".benefit-accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
										Manage your time so you’ll get more done in less time
									</a>
								</h4>
							</div>
							<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
								<div class="panel-body">
									We achieved our success because of how successfully we integrate with our clients. One complaint many people have about consultants is that they can be disruptive. Employees fear outside consultants coming in and destroying the workflow.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading4">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent=".benefit-accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
										Hone sharp leadership skills to manage your team
									</a>
								</h4>
							</div>
							<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
								<div class="panel-body">
									We achieved our success because of how successfully we integrate with our clients. One complaint many people have about consultants is that they can be disruptive. Employees fear outside consultants coming in and destroying the workflow.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading5">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent=".benefit-accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
										Cut expenses without sacrificing quality
									</a>
								</h4>
							</div>
							<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
								<div class="panel-body">
									We achieved our success because of how successfully we integrate with our clients. One complaint many people have about consultants is that they can be disruptive. Employees fear outside consultants coming in and destroying the workflow.
								</div>
							</div>
						</div>
					</div>
  				</div>
  			</div>
  		</div>
  	</section>

 <%= render 'shared/footer' %>

	<script>
	  $('#reservation_start_date').datepicker({
	    dateFormat: 'dd-mm-yy',
	    minDate: 0,
			maxDate: '6m',
      onSelect: function(selected) {
        $('#reservation_end_date').datepicker("option", "minDate", selected);
			}
	  });

	  $('#reservation_end_date').datepicker({
			dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '6m',
      onSelect: function(selected) {
        $('#reservation_start_date').datepicker("option", "maxDate", selected);
			}
	  });
	</script>

  <!--Contact-->
  <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/contact.js"></script>
  <!--CounterUp-->
  <script src="vendors/couterup/jquery.counterup.min.js"></script>
  <!--WayPoints-->
  <script src="vendors/waypoint/waypoints.min.js"></script>
  <!--Select-->
  <script src="vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
  <!--Instafeed-->
  <script src="vendors/instafeed/instafeed.min.js"></script>
  <!-- Isotope -->
  <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="vendors/isotope/isotope.min.js"></script>
  <!-- Timedroper -->
  <script src="vendors/timedroper/timedropper.min.js"></script>
  <!-- Datedroper -->
  <script src="vendors/datedroper/datedropper.min.js"></script>
  <!--Theme Script-->
  <script src="js/theme.js"></script>
