	<% title @home_title %>
	<% description @home_description %>
	<!--Home 1 Slide Banner-->
	<section class="slide-banner row">
   		<img src="/images/slide2.jpg" alt="" class="this-bg hidden-xs">

   		<div class="this-texts container">
				<%= @main_h1_text.html_safe %>
				<%= link_to 'Цены на автомобили', prices_path, class: 'btn btn-primary' %>
   		</div>

	</section>
	<!--Find Quick-->
	<section class="row find-quick">
		<div class="container">
			<%= form_for @quick_booking, html: {class:"row m0 find-quick-form text-center"} do |f| %>
				<%= @main_quick_booking_text.html_safe %>

				<ul class="nav nav-pills cartypes">
					<li><%= f.check_box :is_sedan %> <label>Седан</label></li>
					<li><%= f.check_box :is_hatch %> <label>Хэтчбэк</label></li>
					<li><%= f.check_box :is_cross %> <label>Кроссовер</label></li>
					<li><%= f.check_box :is_minivan %> <label>Минивен</label></li>
					<li><%= f.check_box :is_universal %> <label>Универсал</label></li>
				</ul>

				<div class="row m0 fr-it">
					<div class="location-group">
						<div class="input-group">
							<%= f.text_field :name, placeholder: "Имя", class: "form-control" %>
							<span class="input-group-addon"><i class="ion-person"></i></span>
						</div>
					</div>
					<div class="input-group date-group">
						<%= f.text_field :start_date, placeholder: "Дата начала", id:"reservation_start_date", class: "datepicker form-control" %>
						<span class="input-group-addon"><i class="ion-calendar"></i></span>
					</div>

					<div class="input-group date-group">
						<%= f.text_field :end_date, placeholder: "Дата окончания", id:"reservation_end_date", class: "datepicker form-control" %>
						<span class="input-group-addon"><i class="ion-calendar"></i></span>
					</div>
					<div class="input-group">
						<%= f.text_field :contacts, placeholder: "Телефон", class: "form-control" %>
						<span class="input-group-addon"><i class="ion-speakerphone"></i></span>
					</div>

				</div>
				<br/>
				<div class="row m0">
					<%= f.submit "Отправить заявку", class: "btn btn-primary" %>
				</div>

			<% end %>
		</div>
	</section>
 	<!--Features-->
 	<section class="row features">
		<%= @main_substances_text.html_safe  %>
 	</section>
 	<!--Fleet-->
 	<section class="row" style="background-color: #2b2e4a;">
 		<div class="container" style="background-color: #2b2e4a; margin-top: 40px;">
 			<div class="row section-title text-center white">
				<%= @main_car_list_text.html_safe  %>
 			</div>
			<div class="row">
				<%= render 'cars/single_car_main' %>
			</div>
			<div class="text-center" style='padding-bottom: 10px;'>
				<%= link_to 'Посмотреть все автомобили', cars_path, class: 'btn btn-primary' %>
			</div>
 		</div>
 	</section>

<%= render 'reviews/reviews_on_main' %>
<div class="text-center">
	<iframe src="https://yandex.ru/sprav/widget/rating-badge/12804442716" width="150" height="50" frameborder="0"></iframe>
</div>
<section class="row service-detail-tabs">
		<div class="container">
			<%= @main_services_text.html_safe  %>
		</div>
		<div class="row m0 sdtab-contents">
			<div class="container">
				<div class="row">
					<div class="row m0 text-center this-top-img">
						<div class="col-md-12 hidden-xs">
							<img src="/images/services/tree-car.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row missin-benefits">
  		<div class="container">
  			<div class="row mis-be ipad-width">
					<%= @main_mission_text.html_safe  %>
  				<div class="col-md-6 col-sm-12 col-xs-12 benefit-it">
  					<h3 class="this-title pl">Наши преимущества</h3>
						<%= @main_edge_text.html_safe  %>
  				</div>
  			</div>
  		</div>
  	</section>
 <%= render 'shared/footer', cached: true %>

	<script>
	  $('#reservation_start_date').datepicker({
	    dateFormat: 'dd-mm-yy',
	    minDate: 0,
			maxDate: '6m',
      onSelect: function(selected) {
        $('#reservation_end_date').datepicker("option", "minDate", selected);
			}
	  });

	  $('#reservation_end_date').datepicker({
			dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '6m',
      onSelect: function(selected) {
        $('#reservation_start_date').datepicker("option", "maxDate", selected);
			}
	  });
	</script>
