<% title @prices_title %>
<% description @prices_description %>
  <%# <div class="container" style="margin-bottom: 10px;"> %>
    <%# <div class="col-md-12"> %>
      <div class="row m0 comments-area text-center">
      	<h2 class="this-area-title">Цены</h2>
        <h4 class="this-sub-title"><%= @prices_text.html_safe %></h4>
      </div>

      <div class="container">
        <div class="sticky">
          <div class="divTable blueTable">
              <div class="divTableHeading">
                <div class="divTableRow">
                  <div class="divTableHead col-md-3 col-lg-3 col-sm-2 col-xs-2 cell-image" id="float-none">Марка,<br>модель автомобиля</div>
                  <div class="divTableHead col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price" id="float-none">1-3<span class="hidden-xs hidden-sm"><br>суток</span></div>
                  <div class="divTableHead col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price" id="float-none">4-7<span class="hidden-xs hidden-sm"><br>суток</span></div>
                  <div class="divTableHead col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price" id="float-none">8-14<span class="hidden-xs hidden-sm"><br>суток</span></div>
                  <div class="divTableHead col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price" id="float-none">15-30<span class="hidden-xs hidden-sm"><br>суток</span></div>
                  <div class="divTableHead col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price hidden-xs hidden-sm" id="float-none">&gt; 30<br>суток</div>
                  <div class="divTableHead col-md-1 col-lg-1 col-sm-1 col-xs-1 hour-price hidden-xs hidden-sm" id="float-none">Почасовая<br>оплата<br>(&gt;1сут.)</div>
                  <div class="divTableHead col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price" id="float-none">Залог</div>
                  <div class="divTableHead col-md-2 col-lg-2 col-sm-2 col-xs-2 cell-buy hidden-xs" id="float-none">Заказать</div>
                </div>
              </div>
            </div>
        </div>
          <div class="prices-th text-center">Эконом</div>
          <% @cars.each do |car| %>
            <% if car.active %>
              <% if car.car_class == 'Эконом' %>
                <div class="divTable blueTable">
                  <div class="divTableBody">
                    <div class="divTableRow">

                	  	<div class="car-name divTableCell col-md-3 col-lg-3 col-sm-2 col-xs-2 cell-image" id="float-none">
                        <%= link_to car_path(car) do %>
                          <%= car.car_name %>
                        <% end %>
                	  		<div class="price-action"></div>
                          <%= link_to car_path(car) do %>
                            <%= image_tag car.cover_photo(:prices), class:"car-list-prices" %>
                          <% end %>
                				<div class="transmission">
                          <% if car.car_type == "Хэтчбек" %>
                            <%= image_tag ('hatchback.png'), class:"sedan-hatchback" %>
                          <% end %>
                          <% if car.car_type == "Седан" %>
                            <%= image_tag ('sedan.png'), class:"sedan-hatchback" %>
                          <% end %>
                          <% if car.car_type == "Универсал" %>
                            <%= image_tag ('universal.png'), class:"universal" %>
                          <% end %>
                          <% if car.car_type == "Кроссовер" %>
                            <%= image_tag ('crossover.png'), class:"crossover" %>
                          <% end %>
                          <% if car.car_type == "Купе" %>
                            <%= image_tag ('coupe.png'), class:"coupe" %>
                          <% end %>
                          <% if car.transmission == "Механика" %>
                            <%= image_tag ('manual-transmission.png'), class:"manual-transmission" %>
                          <% else %>
                            <%= image_tag ('auto-transmission.png'), class:"automatic-transmission" %>
                          <% end %>
                          <% if car.is_air %>
                            <%= image_tag ('air-conditioner.png'), class:"air-conditioner", style:"z-index:2;" %>
                          <% end %>
                        </div>
                			</div>
          					  <div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
            						<span class="old-price"><sup><%= car.old_price_1 %></sup></span>
            						<div class="real-price"><%= car.price_1 %></div>
            					</div>
          					  <div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
          							<span class="old-price"><sup><%= car.old_price_2 %></sup></span>
          							<div class="real-price"><%= car.price_2 %></div>
          						</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
              					<span class="old-price"><sup><%= car.old_price_3 %></sup></span>
              					<div class="real-price"><%= car.price_3 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
              					<span class="old-price"><sup><%= car.old_price_4 %></sup></span>
              					<div class="real-price"><%= car.price_4 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price hidden-xs hidden-sm">
            						<span class="old-price"><sup><%= car.old_price_5 %></sup></span>
            						<div class="real-price"><%= car.price_5 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 hour-price hidden-xs hidden-sm">
            						<div class="real-price"><%= car.price_hour %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
            						<div class="real-price"><%= car.deposit %></div>
            					</div>
              				<div class="end-column divTableCell col-md-2 col-lg-2 col-sm-2 col-xs-2 hidden-xs" style="border-right:0px;">
                        <%= link_to car_path(car), class:"btn btn-primary" do %>
                          Заказать
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                  <% end %>
                  <% end %>
                  <% end %>

        <div class="prices-th text-center">Средний</div>
        <% @cars.each do |car| %>
          <% if car.active %>
            <% if car.car_class == 'Средний' %>
              <div class="divTable blueTable">
                <div class="divTableBody">
                  <div class="divTableRow">
                	  	<div class="car-name divTableCell col-md-3 col-lg-3 col-sm-2 col-xs-2 cell-image">
                        <%= link_to car_path(car) do %>
                          <%= car.car_name %>
                        <% end %>
                	  		<div class="price-action"></div>
                          <%= link_to car_path(car) do %>
                            <%= image_tag car.cover_photo(:prices), class:"car-list-prices" %>
                          <% end %>
                				<div class="transmission">
                          <% if car.car_type == "Хэтчбек" %>
                            <%= image_tag ('hatchback.png'), class:"sedan-hatchback" %>
                          <% end %>
                          <% if car.car_type == "Седан" %>
                            <%= image_tag ('sedan.png'), class:"sedan-hatchback" %>
                          <% end %>
                          <% if car.car_type == "Универсал" %>
                            <%= image_tag ('universal.png'), class:"universal" %>
                          <% end %>
                          <% if car.car_type == "Кроссовер" %>
                            <%= image_tag ('crossover.png'), class:"crossover" %>
                          <% end %>
                          <% if car.car_type == "Купе" %>
                            <%= image_tag ('coupe.png'), class:"coupe" %>
                          <% end %>
                          <% if car.transmission == "Механика" %>
                            <%= image_tag ('manual-transmission.png'), class:"manual-transmission" %>
                          <% else %>
                            <%= image_tag ('auto-transmission.png'), class:"automatic-transmission" %>
                          <% end %>
                          <% if car.is_air %>
                            <%= image_tag ('air-conditioner.png'), class:"air-conditioner", style:"z-index:2;" %>
                          <% end %>
                        </div>
                			</div>
          					  <div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
            						<span class="old-price"><sup><%= car.old_price_1 %></sup></span>
            						<div class="real-price"><%= car.price_1 %></div>
            					</div>
          					  <div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
          							<span class="old-price"><sup><%= car.old_price_2 %></sup></span>
          							<div class="real-price"><%= car.price_2 %></div>
          						</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
              					<span class="old-price"><sup><%= car.old_price_3 %></sup></span>
              					<div class="real-price"><%= car.price_3 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
              					<span class="old-price"><sup><%= car.old_price_4 %></sup></span>
              					<div class="real-price"><%= car.price_4 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 hidden-xs hidden-sm">
            						<span class="old-price"><sup><%= car.old_price_5 %></sup></span>
            						<div class="real-price"><%= car.price_5 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 hour-price hidden-xs hidden-sm">
            						<div class="real-price"><%= car.price_hour %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
            						<div class="real-price"><%= car.deposit %></div>
            					</div>
              				<div class="end-column divTableCell col-md-2 col-lg-2 col-sm-2 col-xs-2 hidden-xs" style="border-right:0px;">
                        <%= link_to car_path(car), class:"btn btn-primary" do %>
                          Заказать
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                  <% end %>
                  <% end %>
                  <% end %>

        <div class="prices-th text-center">Бизнес</div>
        <% @cars.each do |car| %>
          <% if car.active %>
            <% if car.car_class == 'Бизнес' %>
              <div class="divTable blueTable">
                <div class="divTableBody">
                  <div class="divTableRow">
                	  	<div class="car-name divTableCell col-md-3 col-lg-3 col-sm-2 col-xs-2 cell-image">
                        <%= link_to car_path(car) do %>
                          <%= car.car_name %>
                        <% end %>
                	  		<div class="price-action"></div>
                          <%= link_to car_path(car) do %>
                            <%= image_tag car.cover_photo(:prices), class:"car-list-prices" %>
                          <% end %>
                				<div class="transmission">
                          <% if car.car_type == "Хэтчбек" %>
                            <%= image_tag ('hatchback.png'), class:"sedan-hatchback" %>
                          <% end %>
                          <% if car.car_type == "Седан" %>
                            <%= image_tag ('sedan.png'), class:"sedan-hatchback" %>
                          <% end %>
                          <% if car.car_type == "Универсал" %>
                            <%= image_tag ('universal.png'), class:"universal" %>
                          <% end %>
                          <% if car.car_type == "Кроссовер" %>
                            <%= image_tag ('crossover.png'), class:"crossover" %>
                          <% end %>
                          <% if car.car_type == "Купе" %>
                            <%= image_tag ('coupe.png'), class:"coupe" %>
                          <% end %>
                          <% if car.transmission == "Механика" %>
                            <%= image_tag ('manual-transmission.png'), class:"manual-transmission" %>
                          <% else %>
                            <%= image_tag ('auto-transmission.png'), class:"automatic-transmission" %>
                          <% end %>
                          <% if car.is_air %>
                            <%= image_tag ('air-conditioner.png'), class:"air-conditioner", style:"z-index:2;" %>
                          <% end %>
                        </div>
                			</div>
          					  <div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
            						<span class="old-price"><sup><%= car.old_price_1 %></sup></span>
            						<div class="real-price"><%= car.price_1 %></div>
            					</div>
          					  <div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
          							<span class="old-price"><sup><%= car.old_price_2 %></sup></span>
          							<div class="real-price"><%= car.price_2 %></div>
          						</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
              					<span class="old-price"><sup><%= car.old_price_3 %></sup></span>
              					<div class="real-price"><%= car.price_3 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
              					<span class="old-price"><sup><%= car.old_price_4 %></sup></span>
              					<div class="real-price"><%= car.price_4 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 hidden-xs hidden-sm">
            						<span class="old-price"><sup><%= car.old_price_5 %></sup></span>
            						<div class="real-price"><%= car.price_5 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 hour-price hidden-xs hidden-sm">
            						<div class="real-price"><%= car.price_hour %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
            						<div class="real-price"><%= car.deposit %></div>
            					</div>
              				<div class="end-column divTableCell col-md-2 col-lg-2 col-sm-2 col-xs-2 hidden-xs" style="border-right:0px;">
                        <%= link_to car_path(car), class:"btn btn-primary" do %>
                          Заказать
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                  <% end %>
                  <% end %>
                  <% end %>

        <div class="prices-th text-center">Коммерческий</div>
        <% @cars.each do |car| %>
          <% if car.active %>
            <% if car.car_class == 'Коммерческий' %>
              <div class="divTable blueTable">
                <div class="divTableBody">
                  <div class="divTableRow">
                	  	<div class="car-name divTableCell col-md-3 col-lg-3 col-sm-2 col-xs-2 cell-image">
                        <%= link_to car_path(car) do %>
                          <%= car.car_name %>
                        <% end %>
                	  		<div class="price-action"></div>
                          <%= link_to car_path(car) do %>
                            <%= image_tag car.cover_photo(:prices), class:"car-list-prices" %>
                          <% end %>
                				<div class="transmission">
                          <% if car.car_type == "Хэтчбек" %>
                            <%= image_tag ('hatchback.png'), class:"sedan-hatchback" %>
                          <% end %>
                          <% if car.car_type == "Седан" %>
                            <%= image_tag ('sedan.png'), class:"sedan-hatchback" %>
                          <% end %>
                          <% if car.car_type == "Универсал" %>
                            <%= image_tag ('universal.png'), class:"universal" %>
                          <% end %>
                          <% if car.car_type == "Кроссовер" %>
                            <%= image_tag ('crossover.png'), class:"crossover" %>
                          <% end %>
                          <% if car.car_type == "Купе" %>
                            <%= image_tag ('coupe.png'), class:"coupe" %>
                          <% end %>
                          <% if car.transmission == "Механика" %>
                            <%= image_tag ('manual-transmission.png'), class:"manual-transmission" %>
                          <% else %>
                            <%= image_tag ('auto-transmission.png'), class:"automatic-transmission" %>
                          <% end %>
                          <% if car.is_air %>
                            <%= image_tag ('air-conditioner.png'), class:"air-conditioner", style:"z-index:2;" %>
                          <% end %>
                        </div>
                			</div>
          					  <div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
            						<span class="old-price"><sup><%= car.old_price_1 %></sup></span>
            						<div class="real-price"><%= car.price_1 %></div>
            					</div>
          					  <div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
          							<span class="old-price"><sup><%= car.old_price_2 %></sup></span>
          							<div class="real-price"><%= car.price_2 %></div>
          						</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
              					<span class="old-price"><sup><%= car.old_price_3 %></sup></span>
              					<div class="real-price"><%= car.price_3 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price">
              					<span class="old-price"><sup><%= car.old_price_4 %></sup></span>
              					<div class="real-price"><%= car.price_4 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1">
            						<span class="old-price"><sup><%= car.old_price_5 %></sup></span>
            						<div class="real-price"><%= car.price_5 %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 hour-price hidden-xs hidden-sm">
            						<div class="real-price"><%= car.price_hour %></div>
            					</div>
            					<div class="divTableCell col-md-1 col-lg-1 col-sm-1 col-xs-1 cell-price hidden-xs hidden-sm">
            						<div class="real-price"><%= car.deposit %></div>
            					</div>
              				<div class="end-column divTableCell col-md-2 col-lg-2 col-sm-2 col-xs-2 hidden-xs" style="border-right:0px;">
                        <%= link_to car_path(car), class:"btn btn-primary" do %>
                          Заказать
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                  <% end %>
              <% end %>
          <% end %>
          <div class="row m0 comments-area text-center">
            <h2 class="this-area-title">Цены на доставку/возврат вне офиса</h2>
          </div>
          <div>
            <table cellspacing="0" class="blueTable col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
              <thead>
                <tr >
                  
                </tr>
                <tr>
                  <td rowspan="2" width="177" style="text-align: center;" class="prices-th-dop-table">
                    <b>Пункт доставки/возврата</b>
                  </td>
                  <td colspan="2" width="400" style="text-align: center;" class="prices-th-dop-table">
                    <b>Цена, руб.</b>
                  </td>
                </tr>
                <tr>
                  <td height="50" width="55" style="text-align: center;" class="class-title">
                <i><%= @dop_table_worktime %></i>
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title">
                <i><%= @dop_table_endtime %></i>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr class="zebra">
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    Калининград (до окружной)
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_city_price_worktime %>
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_city_price_endtime %>
                  </td>
                </tr>
                <tr>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    Аэропорт "Храброво"
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_aero_price_worktime %>
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_aero_price_endtime %>
                  </td>
                </tr>
                <tr>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    Светлогорск
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_svetlogorsk_price_worktime %>
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_svetlogorsk_price_endtime %>
                  </td>
                </tr>
                <tr>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    Зеленоградск
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_zelenogradsk_price_worktime %>
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_zelenogradsk_price_endtime %>
                  </td>
                </tr>
                <tr>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    Куршская коса
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_kosa_price_worktime %>
                  </td>
                  <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                    <%= @dop_table_kosa_price_endtime %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <div class="comments-area text-center" style="margin-bottom: 10px;">
              <h2 class="this-area-title">Цены на доп. оборудование</h2>
            </div>
            <table cellspacing="0" class="blueTable col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <thead>
              <tr class="class-title">
                
              </tr>
              <tr>
                <td width="177" style="text-align: center;" class="prices-th-dop-table">
                  <b>Оборудование</b>
                </td>
                <td width="100" style="text-align: center;" class="prices-th-dop-table">
                  <i>За сутки, руб</i>
                </td>
                <td width="100" style="text-align: center;" class="prices-th-dop-table">
                  <i>За весь срок до 15 суток, руб</i>
                </td>
              </tr>
              <tr>
                <td rowspan="2" width="177" style="text-align: center;" class="class-title dop-table">
                  <b>Детское кресло/бустер</b>
                </td>
                <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                  <%= @dop_table_kreslo_dayprice %>
                </td>
                <td height="50" width="55" style="text-align: center;" class="class-title dop-table">
                  <%= @dop_table_kreslo_allprice %>
                </td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td width="177" style="text-align: center;" class="class-title dop-table">
            <b>GPS навигатор</b>
                </td>
                <td colspan="2" height="50" width="55" style="text-align: center;" class="class-title dop-table">
                  <%= @dop_table_navigator_dayprice %>
                </td>
              </tr>
              </tbody>
            </table>
            <p><%= @dop_table_downtext.html_safe %></p>
          </div>
      </div>
      <p style="font-weight:bold;" class="text-center">Посмотреть текст договора можно <%= link_to 'здесь', asset_path('/docs/dogovor.pdf') %>, акт приема автомобиля и штрафные санкции <%= link_to 'здесь', asset_path('/docs/akt.pdf') %>.</p>
    <%# </div> %>
  <%# </div> %>
<%= render 'shared/footer', cached: true %>
