<% @cars.each do |car| %>
  <div class="col-md-4 fleet fleet2">
    <div class="inner row" style="border-radius:20px;">
      <h2 class="rent text-center"><small>от</small><%= car.price_main %><sub>/сутки</sub></h2>
      <h4 class="vehicle-title text-center"><%= car.car_name %></h4>
      <div class="row vehicle-img text-center">
        <%= link_to car_path(car) do %>
          <%= image_tag car.cover_photo(:main), class:"car-list-main" %>
        <% end %>
      </div>
      <div class="row specification">
        <div>
          <table class="table" >
            <tr>
              <td  style="display:inline-block;"><img src="images/icons/fleet2/transmission.png" style="width: 15px;" alt=""> <%= car.transmission %></td>
              <td  style="display:inline-block;"><img src="images/icons/fleet2/fuel.png" style="width: 15px;" alt=""> <%= car.fuel %></td>
              <td style="display:inline-block;"><img src="images/icons/fleet2/year.png" style="width: 15px;" alt=""> <%= car.year %></td>
            </tr>
            <tr>
              <td style="display:inline-block;"><img src="images/icons/fleet2/car_type.png" style="width: 15px;" alt=""> <%= car.car_type %></td>
              <td style="display:inline-block;"><img src="images/icons/fleet2/capacity.png" style="width: 15px;" alt=""> <%= car.engine_capacity %></td>
              <td style="display:inline-block;">
                <% if car.is_air %>
                  <img src="images/icons/fleet2/air.png" style="width: 15px;" alt=""> Кондиционер
                <% end %>
              </td>
            </tr>
          </table>
        </div>
        <%= link_to "+", car_path(car), class: "details-page" %>
      </div>
    </div>
  </div>
<% end %>
