<div class="row">
  <div class="col-md-3">
    <%= render 'car_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Остальное 2
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @car do |f| %>
            <div class="row">
              <div class="col-md-4 form-group">
                <label>Цвет автомобиля</label>
                <%= f.text_field :color, placeholder: "Цвет авто?", class: "form-control", required: true %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 form-group">
                <label>Год выпуска автомобиля</label>
                <%= f.text_field :year, placeholder: "Год выпуска авто?", class: "form-control", required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Количество дверей</label>
                  <%= f.select :number_doors, [["2", 2], ["3", 3], ["4", 4], ["5", 5]],
                                id: "number_doors", prompt: "Выбери кол-во дверей...", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 form-group">
                <label>Объём двигателя</label>
                <%= f.text_field :engine_capacity, placeholder: "Объём двигателя?", class: "form-control", required: true %>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <%= f.check_box :is_air %> Есть кондиционер?
              </div>
              <div class="col-md-4">
                <%= f.check_box :is_electropackage %> Есть электропакет?
              </div>
            </div>
            <br/><br/>

            <div>
              <%= f.submit "Сохранить", class: "btn btn-primary" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
