<div class="row">
  <div class="col-md-3">
    <%= render 'car_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Основное
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @car do |f| %>

            <div class="row">
              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Тип кузова</label>
                  <%= f.select :car_type, [["Седан", "Седан"], ["Хэтчбек", "Хэтчбек"], ["Универсал", "Универсал"], ["Купе", "Купе"], ["Кроссовер", "Кроссовер"]],
                                id: "car_type", prompt: "Выберите тип кузова...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Класс автомобиля</label>
                  <%= f.select :car_class, [["Эконом", "Эконом"], ["Средний", "Средний"], ["Бизнес", "Бизнес"]],
                                id: "car_class", prompt: "Выбери класс авто...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Коробка передач</label>
                  <%= f.select :transmission, [["Автомат", "Автомат"], ["Механика", "Механика"], ["Вариатор", "Вариатор"], ["Робот", "Робот"]],
                                id: "transmission", prompt: "Выбери коробку...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Количество дверей</label>
                  <%= f.select :number_doors, [["2", 2], ["3", 3], ["4", 4], ["5", 5]],
                                id: "number_doors", prompt: "Выбери кол-во дверей...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Топливо</label>
                  <%= f.select :fuel, [["Бензин", "Бензин"], ["Дизель", "Дизель"]],
                                id: "fuel", prompt: "Выбери топливо...", class: "form-control" %>
                </div>
              </div>
            </div>

            <div><%= f.submit "Сохранить", class: "btn btn-normal" %></div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
