<div class="row">
  <div class="col-md-3">
    <%= render 'car_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Цены
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @car do |f| %>
            <div class="row">
              <div class="form-group">
                <label>Цена за первые сутки</label>
                <%= f.text_field :price_1, placeholder: "1000", class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <label>Цена за 4-7 сутки</label>
                <%= f.text_field :price_2, placeholder: "1000", class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <label>Цена за 8-14 сутки</label>
                <%= f.text_field :price_3, placeholder: "1000", class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <label>Цена за 15-30 сутки</label>
                <%= f.text_field :price_4, placeholder: "1000", class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <label>Залог</label>
                <%= f.text_field :deposit, placeholder: "3000", class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <label>Цена на главную</label>
                <%= f.text_field :price_main, placeholder: "от 1000 руб", class: "form-control", required: true %>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "Сохранить", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
