<% title 'Взять' + ' ' + @car.car_name + ' ' + 'в аренду' %>
<% description 'Взять' + ' ' + @car.car_name + ' ' + 'в аренду в автопрокате Амиго' %>
  <section class="row wrapper-car-details">
    <div class="container">
			<ol class="breadcrumb">
				<li><%= link_to 'Главная', root_path %></li>
				<li><%= link_to 'Автомобили', cars_path %></li>
        <li class="active"><%= @car.car_name %></li>
			</ol>
		</div>
  <div class="container">
  	<div class="row car-dt">
  		<div class="col-sm-12 col-md-8 col-xs-12 car-images fleet">
  			<div class="row m0 this-heading">
  				<h5 class="this-class"><%= @car.car_class.capitalize %></h5>
  				<h3 class="vehicle-title"><%= @car.car_name %></h3>
  			</div>
  			<div class="row m0 this-cover-image">
          <div class="item">
            <div class="clearfix" style="max-width:750px;">
                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                  <% @photos.each do |photo| %>

                      <li data-thumb="<%= photo.image.url(:thumb) %>">
                        <%= image_tag photo.image.url() %>
                       </li>

                  <% end %>
                </ul>
            </div>
          </div>
        </div>
        <%= link_to 'Назад', url_for(:back), class:"btn btn-normal" %>
  		</div>

  		<div class="col-sm-12 col-md-4 col-xs-12 car-infomations fleet">
  			<div class="row focus-infos">
  				<h4 class="this-heading">Спецификация</h4>
  				<p>Все данные об автомобиле.</p>
  			</div>
  			<ul class="focus-informations nav">
          <li><span><img src="/images/icons/fleet2/transmission-white.png" style="width: 20px;" alt=""></span>  Коробка передач<span class="this-value"><%= @car.transmission %></span></li>
          <li><span><img src="/images/icons/fleet2/car_type-white.png" style="width: 20px;" alt=""></span>  Цвет кузова <span class="this-value"><%= @car.color %></span></li>
          <li><span><img src="/images/icons/fleet2/fuel-white.png" style="width: 20px;" alt=""></span>  Вид топлива <span class="this-value"><%= @car.fuel %></span></li>
          <li><span><img src="/images/icons/fleet2/year-white.png" style="width: 20px;" alt=""></span>  Год выпуска <span class="this-value"><%= @car.year %></span></li>
          <li><span><img src="/images/icons/fleet2/capacity-white.png" style="width: 20px;" alt=""></span>  Объём двигателя <span class="this-value"><%= @car.engine_capacity %></span></li>
          <li><span><img src="/images/icons/fleet2/car-type-white.png" style="width: 20px;" alt=""></span>  Тип кузова <span class="this-value"><%= @car.car_type %></span></li>
          <li><span><img src="/images/icons/fleet2/number-doors-white.png" style="width: 20px;" alt=""></span>  Кол-во дверей <span class="this-value"><%= @car.number_doors %></span></li>
          <li>
            <% if @car.is_air %>
              <span><img src="/images/icons/fleet2/snow-white.png" style="width: 20px;" alt=""></span> Кондиционер <span class="this-value">Есть</span>
            <% end %>
          </li>
          <li>
            <% if @car.is_electropackage %>
              <span><img src="/images/icons/fleet2/electro-white.png" style="width: 20px;" alt=""></span> Электропакет <span class="this-value">Есть</span>
            <% end %>
          </li>
        </ul>
  		<div class="this-footer row m0">
  			<h3 class="rent text-center"><small>от</small><%= @car.price_5 %><sub>/сутки</sub></h3>
        <%= link_to "Забронировать", new_booking_path(car_id: @car.id), class:"hire-btn" %>
  		</div>
  	</div>
  	</div>
  <!-- Tab panes -->
  <div class="tab-content desctiption-contents">
  	<div class="tab-pane active">
      <table class="table table-bordered prices-single-car text-center">
        <thead>
          <h3>Цены</h3>
        </thead>
			  <tbody>
        <tr class="prices-single-car-header">
  				<td class="prices-table-header">до 3 суток</td>
  				<td class="prices-table-header">4-7 суток</td>
  				<td class="prices-table-header">8-14 суток</td>
  				<td class="prices-table-header">15-30 суток</td>
  				<td class="prices-table-header">> 30 суток</td>
          <td class="prices-table-header">Залог</td>
			  </tr>
					<tr>
            <td>
							<div><%= @car.price_1 %> рублей</div>
						</td>
					<td>
            <div><%= @car.price_2 %> рублей</div>
					</td>
					<td>
						<div><%= @car.price_3 %> рублей</div>
					</td>
					<td>
						<div><%= @car.price_4 %> рублей</div>
					</td>
					<td>
						<div><%= @car.price_5 %> рублей</div>
					</td>
          <td>
						<div><%= @car.deposit %> рублей</div>
					</td>
				</tr>
      </tbody>
      </table>
      <h3>Описание</h3>
  		<%= @car.description %>
  	</div>
  </div>
  </div>
  </section>
<%= render 'shared/footer', cached: true %>
<script>
	 $(document).ready(function() {
	$("#content-slider").lightSlider({
            loop:true,
            keyPress:true
        });
        $('#image-gallery').lightSlider({
            gallery:true,
            item:1,
            thumbItem:5,
            slideMargin: 0,
            vThumbWidth:100,
            speed:1000,
            auto:false,
            loop:true,
            onSliderLoad: function() {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });
});
</script>
