<section class="row wrapper-car-details">
  <div class="container">
  	<div class="row car-dt">
  		<div class="col-sm-12 col-md-8 col-xs-12 car-images fleet">
  			<div class="row m0 this-heading">
  				<h5 class="this-class"><%= @car.car_class.capitalize %></h5>
  				<h3 class="vehicle-title"><%= @car.car_name %></h3>
  			</div>
  			<div class="row m0 this-cover-image">
          <% if @photos.length > 0 %>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
              <ol class="carousel-indicators">
                <% @photos.each do |photo| %>
                <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
                <% end %>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <% @photos.each do |photo| %>
                <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                  <%= image_tag photo.image.url() %>
                </div>
                <% end %>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Предыдущее</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Следующее</span>
              </a>
            </div>
          <% end %>
  			</div>
  		</div>

  		<div class="col-sm-12 col-md-4 col-xs-12 car-infomations fleet">
  			<div class="row focus-infos">
  				<h4 class="this-heading">Спецификация</h4>
  				<p>Все данные об автомобиле.</p>
  			</div>
  			<ul class="focus-informations nav">
          <li><span><img src="/images/icons/fleet2/transmission.png" style="width: 20px;" alt=""></span>  Коробка передач<span class="this-value"><%= @car.transmission %></span></li>
          <li><span><img src="/images/icons/fleet2/transmission.png" style="width: 20px;" alt=""></span>  Цвет кузова <span class="this-value"><%= @car.color %></span></li>
          <li><span><img src="/images/icons/fleet2/fuel.png" style="width: 20px;" alt=""></span>  Вид топлива <span class="this-value"><%= @car.fuel %></span></li>
          <li><span><img src="/images/icons/fleet2/year.png" style="width: 20px;" alt=""></span>  Год выпуска <span class="this-value"><%= @car.year %></span></li>
          <li><span><img src="/images/icons/fleet2/capacity.png" style="width: 20px;" alt=""></span>  Объём двигателя <span class="this-value"><%= @car.engine_capacity %></span></li>
          <li><span><img src="/images/icons/fleet2/capacity.png" style="width: 20px;" alt=""></span>  Тип кузова <span class="this-value"><%= @car.car_type %></span></li>
          <li><span><img src="/images/icons/fleet2/capacity.png" style="width: 20px;" alt=""></span>  Кол-во дверей <span class="this-value"><%= @car.number_doors %></span></li>
          <li>
            <% if @car.is_air %>
              <span><img src="/images/icons/fleet2/air.png" style="width: 20px;" alt=""></span> Кондиционер <span class="this-value">Есть</span>
            <% end %>
          </li>
          <li>
            <% if @car.is_electropackage %>
              <span><img src="/images/icons/fleet2/air.png" style="width: 20px;" alt=""></span> Электропакет <span class="this-value">Есть</span>
            <% end %>
          </li>
        </ul>
  		<div class="this-footer row m0">
  			<h3 class="rent text-center"><small>от</small><%= @car.price_4 %><sub>/сутки</sub></h3>
        <%= link_to "Забронировать", new_booking_path(car_id: @car.id), class:"hire-btn" %>
  		</div>
  	</div>
  	</div>



  <!-- Tab panes -->
  <div class="tab-content desctiption-contents">
  	<div class="tab-pane active">
  		<%= @car.description %>
  	</div>
  </div>
  </div>
  </section>
<%= render 'shared/footer' %>
<%= render 'shared/modal_form' %>
<script>
  $(document).ready(function(){
      // Activate Carousel
      $("#myCarousel").carousel({interval: 4000});
  });
</script>
<!--Contact-->
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/contact.js"></script>
<!--CounterUp-->
<script src="/vendors/couterup/jquery.counterup.min.js"></script>
<!--WayPoints-->
<script src="/vendors/waypoint/waypoints.min.js"></script>
<!--Select-->
<script src="/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
<!--Instafeed-->
<script src="/vendors/instafeed/instafeed.min.js"></script>
<!-- Isotope -->
<script src="/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/vendors/isotope/isotope.min.js"></script>
<!--Theme Script-->
<script src="/js/theme.js"></script>
