<ul class="media-list comment-list">
  <% @reviews.each do |review| %>
    <% if review.active || (current_user && current_user.is_admin) %>
      <li class="comment media">
        <div class="media-body">
        <h5 class="this-title"><%= review.name %>  <i><%= review.created_at.strftime("%d-%m-%Y") %></i>
          <% if current_user && current_user.is_admin %>
            <%= link_to review_path(review.id), remote: true, method: :delete, data: {confirm: "Уверен?"} do %>
              <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
            <% end %>
            <% if !(review.active?) %>
              <%= link_to approve_review_path(review), method: :post do %>
                <i class="fa fa-thumbs-up fa-lg"></i>
              <% end %>
            <% end %>
          <% end %>
        </h5>
        <p><%= review.text %></p>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
