<div class="container" style="margin-bottom: 10px;">
  <div class="col-md-8">
    <div class="row m0 comments-area">
    	<h2 class="this-area-title">Отзывы</h2>
      <h4 class="this-sub-title"><%= @reviews_text.html_safe %></h4>
    </div>
    <%= render 'single_review' %>
  </div>
  <div class="col-md-4">
    <div class="row m0 comments-area">
    	<h2 class="this-area-title">Оставить отзыв</h2>
      <h4 class="this-sub-title">Заполните форму ниже</h4>
    </div>
    <%= form_for Review.new, html: {class:"comment-form row m0"} do |f| %>
      <%= f.text_field :name, placeholder: "Имя *", class: "form-control", required: true %>
      <%= f.text_field :email, placeholder: "Email *", class: "form-control", required: true %>
      <%= f.text_area :text, rows: 8, minlength: 30, placeholder: "Напишите свой отзыв", class: "form-control", required: true %>
      <%= f.submit "Отправить", class: "btn btn-outline center" %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
