<!DOCTYPE html>
<html lang="ru">
  <head>
    <% if current_page?(root_path) %>
      <title>Прокат автомобилей в Калининграде - Амиго</title>
      <meta name="description" content="краткое описание страницы">
      <% elsif current_page?(cars_path) %>
        <title>Автомобили в прокат - в автопрокате Амиго</title>
        <meta name="description" content="краткое описание страницы">
      <% elsif current_page?("/cars/#{params[:id]}") %>
        <title>Аренда <%= @car.car_name %> - прокат авто Амиго</title>
        <meta name="description" content="краткое описание страницы">
      <% elsif current_page?(new_booking_path) %>
        <title>Заявка на аренду авто в Калининграде - Амиго</title>
        <meta name="description" content="краткое описание страницы">
      <% elsif current_page?(reviews_path) %>
        <title>Отзывы о прокате автомобилей Амиго</title>
        <meta name="description" content="краткое описание страницы">
      <% elsif current_page?(prices_path) %>
        <title>Цены на прокат автомобилей в Калининграде - Амиго</title>
        <meta name="description" content="краткое описание страницы">
      <% elsif current_page?(contacts_path) %>
        <title>Контакты автопроката Амиго в Калининграде</title>
        <meta name="description" content="краткое описание страницы">
      <% elsif current_page?(terms_path) %>
        <title>Условия аренды автомобилей в Калининграде - Амиго</title>
        <meta name="description" content="краткое описание страницы">
      <% elsif current_page?(abouts_path) %>
        <title>Информация о прокате авто Амиго</title>
        <meta name="description" content="краткое описание страницы">
      <% else %>
        <title>Прокат автомобилей в Калининграде - Амиго</title>
        <meta name="description" content="">
    <% end %>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>

    <%= render 'layouts/messages' %>
    <%= render 'shared/navbar' %>

      <%= yield %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  </body>
</html>
