<% if !request.path.include?('admin') %>
  <!DOCTYPE html>
  <html lang="ru">
    <head>
      <%= display_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <% if current_page?(new_booking_path) %>
        <%= include_gon %>
      <% else %>
        <script>
          var gon = {};
          gon.cars_info
        </script>
      <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%# javascript_include_tag 'metrika', 'data-turbolinks-track': 'reload' %>
      <% if current_page?(new_booking_path) %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_pack_tag 'css/application', 'data-turbolinks-track': 'reload' %>
      <% end %>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= javascript_include_tag GoogleAnalytics::JS_URL, async: true %>
      <meta name="yandex-verification" content="57d292ffbe46f129" />
      <noscript><div><img src="https://mc.yandex.ru/watch/48045371" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    </head>

    <body>

      <%= render 'layouts/messages' %>
      <%= render 'shared/navbar' %>
        <%= yield %>
      <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css"> 
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->
      <link rel=preload href="/fonts/notera/notera_personaluseonly-webfont.woff2">
      <link rel=preload href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel=preload href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">

    </body>
  </html>
<% elsif request.path.include?('admin') %>
  <!-- Переделать на конкретные пути в админке -->
  <!DOCTYPE html>
  <html lang="ru">
    <head>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'admins_panel', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'admins_panel', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag 'favicon.ico' %>
    </head>

    <%= render 'admins/messages' %>
    <%= yield %>
    </body>
  </html>
<% end %>
