<!DOCTYPE html>
<html lang="ru">
  <head>
    <% if current_page?(root_path) %>
      <title>Прокат автомобилей в Калининграде - Амиго</title>
      <meta name="description" content="Добро пожаловать в Автопрокат Амиго! Это лучший прокат автомобилей в Калининграде, главные достоинства которого — это дружественное отношение к клиенту, низкие цены и хорошие автомобили, застрахованные по КАСКО. Звоните, будем рады!">
      <% elsif current_page?(cars_path) %>
        <title>Автомобили в прокат - в автопрокате Амиго</title>
        <meta name="description" content="Компания Амиго предлагает широкий выбор автомобилей на любой вкус и для любых нужд. У нас представлены автомобили эконом, среднего и представительского класса, без водителя и с водителем. Заходите на сайт и выбирайте!">
      <% elsif current_page?("/cars/#{params[:id]}") %>
        <title>Аренда <%= @car.car_name %> - прокат авто Амиго</title>
        <meta name="description" content="Компания Амиго предлагает широкий выбор автомобилей, беря в аренду <%= @car.car_name %>, будьте уверены в его исправности и хорошем техническом состоянии.">
      <% elsif current_page?(new_booking_path) %>
        <title>Заявка на аренду авто в Калининграде - Амиго</title>
        <meta name="description" content="Заполнить заявку на заказ автомобиля очень просто. Оставьте свои контактные данные и в ближайшее время мы свяжемся с Вами. Отправив нам копии документов Вы существенно сэкономите время оформления авто. Бронируйте прямо сейчас!">
      <% elsif current_page?(reviews_path) %>
        <title>Отзывы о прокате автомобилей Амиго</title>
        <meta name="description" content="Главный принцип работы компании Амиго - внимательное отношение к пожеланиям клиента. Оставляйте свои отзывы.">
      <% elsif current_page?(prices_path) %>
        <title>Цены на прокат автомобилей в Калининграде - Амиго</title>
        <meta name="description" content="В автопрокате Амиго вы всегда найдете справедливые цены, одни из самых низких на рынке, скидки постоянным клиентам, регулярные акции и спецпредложения, сезонные понижения цен. Звоните и сами убедитесь!">
      <% elsif current_page?(contacts_path) %>
        <title>Контакты автопроката Амиго в Калининграде</title>
        <meta name="description" content="Удобное местоположение нашего автопроката, в центральной части города, по пути из аэропорта, сэкономит Ваше время и деньги. Стоянка автомобилей находится рядом с офисом. Широкий выбор способов связи. Обращайтесь!">
      <% elsif current_page?(terms_path) %>
        <title>Условия аренды автомобилей в Калининграде - Амиго</title>
        <meta name="description" content="Простые и понятные условия аренды автомобиля. Страховка КАСКО гарантирует максимальный уровень защиты клиента в непредвиденных ситуациях. Самые выгодные в Калининграде условия в отношении ответственности клиента.">
      <% elsif current_page?(abouts_path) %>
        <title>Информация о прокате авто Амиго</title>
        <meta name="description" content="Компания Амиго возникла в результате преобразования автопроката Алиса Голд. Наше новое название — символ того, что наш клиент это наш друг! Приходите и убедитесь в этом лично.">
      <% elsif current_page?(faqs_path) %>
        <title>Отзывы о прокате автомобилей Амиго</title>
        <meta name="description" content="Здесь Вы найдете ответы на часто задаваемые вопросы. Если не нашли ответ на свой вопрос — задайте его прямо сейчас.">
      <% else %>
        <title>Прокат автомобилей в Калининграде - Амиго</title>
        <meta name="description" content="Добро пожаловать в Автопрокат Амиго! Это лучший прокат автомобилей в Калининграде, главные достоинства которого — это дружественное отношение к клиенту, низкие цены и хорошие автомобили, застрахованные по КАСКО. Звоните, будем рады!">
    <% end %>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>

    <%= render 'layouts/messages' %>
    <%= render 'shared/navbar' %>

      <%= yield %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </body>
</html>
