<% if !request.path.include?('admin') %>
  <!DOCTYPE html>
  <html lang="ru">
    <head>
      <%= display_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <% if current_page?(new_booking_path) %>
        <%= include_gon %>
      <% else %>
        <script>
          var gon = {};
          gon.cars_info
        </script>
      <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag 'favicon.ico' %>
      <meta name="yandex-verification" content="57d292ffbe46f129" />
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
          (function (d, w, c) {
              (w[c] = w[c] || []).push(function() {
                  try {
                      w.yaCounter48045371 = new Ya.Metrika({
                          id:48045371,
                          clickmap:true,
                          trackLinks:true,
                          accurateTrackBounce:true,
                          webvisor:true
                      });
                  } catch(e) { }
              });

              var n = d.getElementsByTagName("script")[0],
                  s = d.createElement("script"),
                  f = function () { n.parentNode.insertBefore(s, n); };
              s.type = "text/javascript";
              s.async = true;
              s.src = "https://mc.yandex.ru/metrika/watch.js";

              if (w.opera == "[object Opera]") {
                  d.addEventListener("DOMContentLoaded", f, false);
              } else { f(); }
          })(document, window, "yandex_metrika_callbacks");
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/48045371" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->

      <!-- Chatra {literal} --> <script> (function(d, w, c) { w.ChatraID = 'tutATzsK3Hdg5fBgi'; var s = d.createElement('script'); w[c] = w[c] || function() { (w[c].q = w[c].q || []).push(arguments); }; s.async = true; s.src = 'https://call.chatra.io/chatra.js'; if (d.head) d.head.appendChild(s); })(document, window, 'Chatra'); </script> <!-- /Chatra {/literal} -->

      </head>

    <body>

      <%= render 'layouts/messages' %>
      <%= render 'shared/navbar' %>

        <%= yield %>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </body>
  </html>
<% elsif request.path.include?('admin') %>
  <!-- Переделать на конкретные пути в админке -->
  <!DOCTYPE html>
  <html lang="ru">
    <head>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'admins_panel', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'admins_panel', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag 'favicon.ico' %>
    </head>

    <%= render 'admins/messages' %>
    <%= yield %>
    </body>
  </html>
<% end %>
